<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarToTab</title>
</head>
<body>
    <nav class="topmenu">
        <ul class="menu">
            <li><a href="#">File<i class="file menu"></i></a>
                <ul class="submenu">
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Open</a></li>
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </li>
            <li><a href="#">Records<i class="record menu"></i></a>
                <ul class="submenu">
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </li>
            <li><a href="#">Tabs<i class="tabs menu"></i></a>
                <ul class="submenu">
                    <li><a href="#">Save</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help<i class="tabs menu"></i></a>
                <ul class="submenu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Manual</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </li>
            <li><a href="#">Clear All</a></li>
        </ul>
    </nav>
</body>
</html>